<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:dt="http://www.thymeleaf.org/dandelion/datatables">
<head>
    <title>Data member</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"></link>
    <link th:href="@{/css/main.css}" rel="stylesheet"></link>
    <link th:href="@{/css/simple-sidebar.css}" rel="stylesheet"></link>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>

</head>
<body>

<div id="wrapper">
    <div th:replace="sidebar :: sidebar-fragment">&nbsp;</div>

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <h3>Home </h3>
            <p th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</p>
        </div>
    </div>
</div>



</body>

</html>